@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
.svg {
  fill: black;
  color: black;
}

.testimonial {
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.testimonial.active {
  opacity: 1;
}


.swiper {
  width: 83%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

button.slick-arrow.slick-next{
  color: black
}

.NeoButton2{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.NeoButton{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}




