@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  /* background-image: url('/bgg.png');
  background-position: center;
  background-size: contain;
  background-repeat: none; */
}
.svg {
  fill: black;
  color: black;
}

@layer utilities {
  .mask-gradient-horizontal {
    mask-image: linear-gradient(to left, transparent 0%, black 20%, black 80%, transparent 95%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, black 20%, black 80%, transparent 95%);
  }
}

.mask-linear {
  mask-image: linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%);
}


@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollReverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scrollReverse {
  animation: scrollReverse 40s linear infinite;
}

.testimonial {
  opacity: 0;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.testimonial.active {
  opacity: 1;
}


.swiper {
  width: 83%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

button.slick-arrow.slick-next{
  color: black
}

.NeoButton2{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.NeoButton{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}


@keyframes gradient {
  0% {
    border-image: linear-gradient(90deg, red, black);
  }
  50% {
    border-image: linear-gradient(90deg, black, red);
  }
  100% {
    border-image: linear-gradient(90deg, red, black);
  }
}

.border-gradient {
  animation: gradient 10000s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.rotate-gradient {
  animation: spin 4s linear infinite;
  animation-timing-function: linear; /* Ensure constant speed */
}
        


.storeButton{
  --spread: 90deg; --shimmer-color: #ff0000; --radius: 10px; --speed: 1.5s; --cut: 0.1em; --bg: radial-gradient(ellipse 80% 50% at 50% 120%,rgba(62, 61, 117),rgba(18, 18, 38));
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}